body{
    margin: 0px;
    font-size: 20px;
    line-height: 25px;
}
header {
    background-color: rgb(56, 46, 30);
    text-align: center;
}
header h1 {
    color: white;
    font-family: 'helvetica', 'Arial', sans-serif;
    font-size: 40px;
}
h1, h2 {
    font-family: 'Libre Baskerville', serif;
}
header img {
    border-radius: 170px;
    width: 300px;
    border: 20px rgb(0, 0, 0) solid;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}
main img {
    max-width: 100%;
}
h2{
    font-size: 35px;
    margin: 40px 0 10px;
}
a{
    color : black;
}
a:hover {
    color: green;
}
footer{
    background-color: rgb(56, 46, 30);
    text-align: center;
    color: white;
    padding: 50px;
}
footer p{
    margin:0 ;
}

p.caption{
    font-style: italic;
    color: gray;
    margin-top: 0;
}