body{
    margin: 0px;
    font-size: 20px;
    line-height: 25px;
}
header {
    background: rgb(77, 177, 180);
    text-align: center;
}
header h1 {
    color: rgb(218, 218, 218);
    font-size: 40px;
    margin-top: 10px;
}
h1, h2 {
    font-family: 'Libre Baskerville', serif;
}
header img {
    border-radius: 170px;
    width: 300px;
    border: 20px rgb(255, 255, 255) solid;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}
main img {
    max-width: 100%;
}
h2{
    font-size: 35px;
    margin: 40px 0 10px;
}
a{
    color : black;
}
a:hover {
    color: green;
}
footer{
    background-color: rgb(77, 177, 180);
    text-align: center;
    color: white;
    padding: 50px;
}
footer p{
    margin:0 ;
}

p.caption{
    font-size: 15px;
    font-style: italic;
    color: gray;
    margin-top: 0;
}